# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea/
/obj/
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#local files
/obj/Debug
/bin/
/release/
/Server/bin
/Server/obj
/Server/.idea
/Server/release
/Client/.idea
/Client/.vs
/Client/bin
/Client/obj
/Client/release
*Dotsettings.user